.featured-banner {
  display: flex; }
  .featured-banner > div {
    background-size: cover;
    background-position: 65% center;
    color: #fff;
    position: relative;
    height: 540px;
    flex-grow: 1;
    flex-basis: 100px;
    counter-increment: number;
    transition: opacity 0.3s ease-in-out, flex-grow 0.5s ease-in-out, background-position 0.3s linear;
    overflow: hidden; }
    .featured-banner > div > div {
      font-size: 16px;
      line-height: 24px;
      background-color: rgba(49, 49, 49, 0.5);
      top: 60%;
      z-index: 3;
      position: absolute;
      border-top-left-radius: 50px;
      height: 40%;
      left: 0;
      right: 0;
      padding: 10px 30px;
      width: 100%;
      transition: background 0.3s linear, top 0.5s linear, border-radius 0.3s linear; }
    .featured-banner > div:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #313131;
      opacity: 0.8;
      transition: 0.3s linear; }
    .featured-banner > div:hover:before {
      opacity: 0.5; }
    .featured-banner > div:hover h2 span {
      opacity: 1; }
    .featured-banner > div:first-child .circle span:before {
      display: none; }
    .featured-banner > div:last-child .circle span:after {
      display: none; }
  .featured-banner h2 {
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s linear; }
    .featured-banner h2 p {
      position: relative;
      padding-top: 8px;
      margin-top: 10px; }
      .featured-banner h2 p:before, .featured-banner h2 p:after {
        content: '';
        display: block;
        background-color: #e42c52;
        position: absolute;
        transition: 1s ease-in-out; }
      .featured-banner h2 p:before {
        width: 110px;
        height: 1px;
        top: 0; }
      .featured-banner h2 p:after {
        top: -3px;
        width: 30px;
        height: 4px; }
      .featured-banner h2 p span {
        opacity: 0.5; }
    .featured-banner h2:before {
      content: "0" counter(number);
      visibility: visible;
      opacity: 0.5; }
  .featured-banner .details {
    opacity: 0; }
  .featured-banner > div.active {
    flex-grow: 5;
    background-position: center center; }
    .featured-banner > div.active > div {
      border-top-left-radius: 0;
      top: 2%;
      background: transparent;
      max-width: 600px;
      margin: 0 auto;
      height: auto; }
    .featured-banner > div.active:before {
      opacity: 0.7; }
    .featured-banner > div.active h2 {
      font-size: 36px;
      line-height: initial;
      margin-top: -10px; }
      .featured-banner > div.active h2:before {
        visibility: hidden;
        opacity: 0; }
      .featured-banner > div.active h2 p {
        padding: 24px 0 10px;
        margin-top: 0; }
        .featured-banner > div.active h2 p:before {
          width: 240px;
          height: 2px; }
        .featured-banner > div.active h2 p:after {
          width: 60px;
          height: 6px;
          top: -4px; }
      .featured-banner > div.active h2 span {
        opacity: 1; }
    .featured-banner > div.active .details {
      opacity: 1; }
    .featured-banner > div.active .circle span {
      background-color: #fff;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
      margin-left: calc(100% - 30px - 20px); }
      .featured-banner > div.active .circle span:after {
        margin-left: 15px; }
      .featured-banner > div.active .circle span:before {
        right: 53px; }
  .featured-banner .circle {
    height: 21px;
    line-height: 21px;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 3;
    display: block; }
    .featured-banner .circle span {
      vertical-align: middle;
      position: static;
      margin-left: 30px;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      transition: 0.5s ease-in-out; }
      .featured-banner .circle span:before, .featured-banner .circle span:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        top: 50%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
        transition: inherit; }
      .featured-banner .circle span:before {
        margin-left: 12px;
        right: calc(100% - 30px); }
      .featured-banner .circle span:after {
        margin-left: 12px; }

@media screen and (max-width: 1199px) {
  .featured-banner > div {
    height: 600px; }
    .featured-banner > div > div {
      padding: 6px 10px;
      line-height: initial; }
  .featured-banner > div.active h2 {
    font-size: 20px; }
    .featured-banner > div.active h2 p {
      padding: 14px 0 4px; } }
@media screen and (max-width: 1000px) {
  .featured-banner > div.active {
    flex-grow: 12; } }
@media screen and (max-width: 800px) {
  .featured-banner {
    flex-direction: column; }
    .featured-banner > div {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      flex-basis: auto;
      height: auto;
      transition: opacity 0s ease-in-out; }
      .featured-banner > div > div {
        position: relative;
        background: transparent; }
      .featured-banner > div .circle {
        text-align: center;
        left: 4px;
        height: 100%;
        bottom: 0;
        width: 21px; }
        .featured-banner > div .circle span {
          margin-top: 30px;
          margin-left: 0 !important; }
          .featured-banner > div .circle span:after, .featured-banner > div .circle span:before {
            width: 1px;
            height: 100%; }
          .featured-banner > div .circle span:after {
            top: 44px;
            left: 50% !important;
            margin-left: 0 !important; }
          .featured-banner > div .circle span:before {
            margin-left: 0;
            right: auto;
            left: 50%;
            margin-right: 0;
            bottom: calc(100% - 30px) !important;
            top: auto; }
    .featured-banner .details {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s linear; }
      .featured-banner .details > img {
        display: none; }
    .featured-banner > div.active .scrollbar-inner {
      height: auto; }
    .featured-banner > div.active .details {
      max-height: 1000px; }
    .featured-banner > div.active .circle span:after {
      top: 47px; } }

/*# sourceMappingURL=main.css.map */
